In [2]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\HKEDU\AppData\Local\Temp\ipykernel_12876\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [14]:
print(1 + 5)

6

In [16]:
print(2 * 6); print(3 + 5)

12
8

In [17]:
print(5 + 4);

9

In [18]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [29]:
# 자료형 : 리터널 : 자연어 (정수, 실수, 문자열)
#              정수 리터널 : 1, 12
#              실수 리터널 : 1.5, 4.5
#              문자열 리터널
print(10) # 숫자를 표현할 때는 아무런 표시를 하지 않는다.
print(10.4) 

#변수 = 리터널
a = 10 # 정수형 변수
print(a) 
a = 10.5
print(a)
a ="이숭무"
print(a)
a = "010-7146-1970"
print(a)
a = "highland0@nate.com"
print(a)

10
10.4
10
10.5
이숭무
010-7146-1970
highland0@nate.com

In [33]:
# 숫자 연산자 : +, - , *, /
a = 30
b = 10
print(a - b)
# 나머지 연산자 : %
print( 10 % 3)
# 몫 연산자 
print(10 // 3 )
# 제곱승 
print(10 ** 3)
## + , - , * , / , % , // , **

20
1
3
1000

In [42]:
# 문자열 리터널 : 영어, 한국어, 중국어, ...
#                "a",'a' , a:변수
이숭무 = "곽여송" # 문자열 리터널
print(이숭무)
이숭무 = '한경닷컴'
print(이숭무)
이숭무 = 'a'
print(이숭무)
이숭무 = "a"
print(이숭무)
이숭무 = "10"
print(10 + 10)
# print(10 + "10")
print("10" + "10")

곽여송
한경닷컴
a
a
20
1010

In [14]:
print(10) # 정수
print(10.54) # 실수
print("10") # 문자열
print("10.4") # 문자열
# print(10 + "10") # TypeError: unsupported operand type(s) for +: 'int' and 'str'
print("10" + "10")
print("python" + "is" + "fun")
print("python"+ " " + "is"+ " " + "fun")
print('python '+ 'is'+ ' fun')
# 문자열에서는 +연산자는 붙이기 연산자이다.
print('python \n' + 'is'+ ' fun')

10
10.54
10
10.4
1010
pythonisfun
python is fun
python is fun
python
is fun

In [21]:
# "" , '', """""", ''''''
a = '''python 
is 
fun'''
print(a)
a = """python
is
fun"""
print(a)
print("Life is too short, You need python")
print("""Life is too short, 
You need python""")
print('''Life is too short, 
You need python''') # 행바꿈을 할 때 주로 사용

python
is
fun
python
is
fun
Life is too short, You need python
Life is too short,
You need python
Life is too short,
You need python

In [30]:
print("Life's too short, You need python")
print('Life is too short, "You need python"')
print("Life is too short, \"You need python\"")
print('Life\'s too short, You need python')
print('\tLife\'s too short, You need python')

Life's too short, You need python
Life is too short, "You need python"
Life is too short, "You need python"
Life's too short, You need python
	Life's too short, You need python

In [32]:
print('\tLife\'s too short\n, You need python')

	Life's too short
, You need python

In [40]:
head = "Python"
tail = "is fun"
print(head + tail)
print(head+" " + tail)
print("==" * 30) # *연산자 : 문자열 반복
print("제목")
print("==" * 30)
print(head * 30)

Pythonis fun
Python is fun
============================================================
제목
============================================================
PythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [48]:
print(str(10) + "20")
str = "이숭무"
# print(str(10) + "20")
# 같은 이름의 함수와 변수를 둘 수 없다. str(), str
del str
print(str(10) + "20")
a = 10

1020
1020

In [53]:
# indexing : index를 이용해서 원하는 문자를 가지고 오는 것
# index는 문자열에서 문자가 가지고 있는 고유의 번호
str1 = "Life is too short"
#       01234567890123456
#                 1
print(str1)
print(len(str1))
print(str1[0])
print(str1[5])
print(str1[16])
print(str1[len(str1) - 1])

Life is too short
17
L
i
t
t

In [58]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#       76543210987654321 -
#              1
print(str1[0])
print(str1[-17])
print(str1[-len(str1)])
print("==" * 30)
print(str1[16])
print(str1[-1])
print(str1[len(str1) -1 ])
print("==" *30)
print(str1[15]); print(str1[-2])
# Life
print(str1[0]+str1[1]+str1[2]+str1[3])

L
L
L
============================================================
t
t
t
============================================================
r
r
Life

In [61]:
# slicing : 문자열 자르기
print(str1[0:4])
print(str1[0:0+4])
# too
print(str1[8 : 8 + 3])
print(str1[-9: -6])
print(str1[-9: -9 + 3])
print(str1[8 : -6])

Life
Life
too
too
too
too

In [65]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#       76543210987654321 -
#              1
# Life
print(str1[0:4])
print(str1[:4])
print(str1[:-13])
#short
print(str1[12:17])
print(str1[12:len(str1)])
print(str1[12:])

Life
Life
Life
short
short
short

In [69]:
# 날짜와 이름을 분리하여 출력
a = "20010331Rainy"
print(a[:8])
print(a[8:])
a = "pithon"
print(a[1])
#a[1] = "y" : 문자열은 index를 이용해서 값을 변경할 수 없다.

20010331
Rainy
i

In [70]:
# "",'',"""""",''''''
# +, *
# indexing, slicing 
# 문자열 포매팅
print("현재 온도는 30도입니다.")
print("현재 온도는 40도입니다.")

현재 온도는 30도입니다.
현재 온도는 40도입니다.

In [81]:
account = '1111'
name = '이숭무'
money = 100
### 이숭무의 계좌번호는 1111번이고 잔액은 100원입니다.
print(name+"의 계좌번호는 "+ account +"번이고 잔액은 "+str(money)+"원입니다.")
print("%s의 계좌번호는 %s번이고 잔액은 %d원입니다." % (name,account,money))
# %s:문자열, %d:숫자, %f : 실수, %c : 문자 =>
print("%s의 계좌번호는 %s번이고 잔액은 %d원입니다." % (name,account,1000))
print("==" * 30)
"이숭무의 나이는 25살이고 키는 175.3입니다"
age =  25
height = 175.3
a  = "%s의 나이는 %d살이고 키는 %f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %d살이고 키는 %5.1f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %d살이고 키는 %3.1f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %d살이고 키는 %.2f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %s살이고 키는 %s입니다" % (name, age, height)
print(a)

이숭무의 계좌번호는 1111번이고 잔액은 100원입니다.
이숭무의 계좌번호는 1111번이고 잔액은 100원입니다.
이숭무의 계좌번호는 1111번이고 잔액은 1000원입니다.
============================================================
이숭무의 나이는 25살이고 키는 175.300000입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.30입니다
이숭무의 나이는 25살이고 키는 175.3입니다

In [84]:
#-는 왼쪽정렬, +는 오른쪽 정렬
a  = "%s의 나이는 %d살이고 키는 %.2f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %10d살이고 키는 %10.2f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %-10d살이고 키는 %-10.2f입니다" % (name, age, height)
print(a)

이숭무의 나이는 25살이고 키는 175.30입니다
이숭무의 나이는         25살이고 키는     175.30입니다
이숭무의 나이는 25        살이고 키는 175.30    입니다

In [90]:
# format 함수를 사용한 포매팅
# 문자열 : "abc",'abc'
# 변수 : abc
# 함수 : abc(), ### print() , str(), int(), format()
a  = "{0}의 나이는 {1}살이고 키는 {2}입니다".format(name, age, height)
#                                                 0     1     2
print(a)
a  = "{1}의 나이는 {0}살이고 키는 {2}입니다"\
                    .format(age, name, height)
print(a)
# 이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다
a  = "{0}님의 나이는 {1}살이고요 {0}의 키는 {2}입니다"\
                    .format(name,age,height)
print(a)

이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다

In [95]:
a  = "{0}님의 나이는 {1}살이고요 {0}의 키는 {bbb}입니다"\
                    .format(name,age,bbb=height)
print(a)
a  = "{0}님의 나이는 {1}살이고요 {0}의 키는 {bbb}입니다"\
                    .format(name,age,bbb=130)
print(a)
'''
a  = "{0}님의 나이는 {1}살이고요 {0}의 키는 {2}입니다"\
                    .format(name,age,bbb=130)
print(a)
a  = "{0}님의 나이는 {2}살이고요 {0}의 키는 {bbb}입니다"\
                    .format(name,bbb=130,age)
print(a)
'''
# 이름을 사용하는 경우에는 이름을 맨뒤 부터 붙여주면 된다.
a  = "{0}님의 나이는 {age}살이고요 {0}의 키는 {bbb}입니다"\
                    .format(name,bbb=130,age=25)
print(a)

이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다
이숭무님의 나이는 25살이고요 이숭무의 키는 130입니다
이숭무님의 나이는 25살이고요 이숭무의 키는 130입니다

In [97]:
### f 문자열 포매팅
name = '이숭무'
age = 25
height = 175.3
"이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다"
print(f"{name}님의 나이는 {age}살이고요 {name}의 키는 {height}입니다")

이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다

In [ ]:
# 포매팅
# 1. 포맷문자를 이용한 포맷팅
# 2. format함수를 이용한 포맷팅
# 3. f문자를 이용한 포맷팅

# indexing, slicing (자바:substring)
# 문자열 연산자 : +, *

In [100]:
### 문자열 가공하기 :  문자열 함수
a = "hobby"
#    01234
# 문자열의 크기
print(len(a))
print(len("hobby"))
# 문자의 갯수
print(a.count('b'))
print("hobby".count('b'))
print(a[1:1+3])

5
5
2
2
obb

In [112]:
a = "Life is too short"
#    012345678
print(a.index("too"))
print(a[a.index("too"):a.index("too") + 3])
print(a.index('i'))
print(a[a.index('i') : a.index('i') + 2])
print(a.rindex('i'))
print(a[a.rindex('i') : a.rindex('i') + 2])
print(a.index('i',2))
print(a.index('i', a.index('i') + 1))
i = a.index('i', a.index('i') + 1)
print(a[i : i + 2 ])

8
too
1
if
5
is
5
5
is

In [120]:
a = "Life is too short"
#    012345678
print(a.index("too"))
print(a.find("too"))
print(a[a.find("too"):a.find("too") + 3])
print(a[a.find("t"):a.find("t") + 3])
print(a.find('i'))
print(a[a.find('i') : a.find('i') + 2])
print(a.find('i',2))
print(a.find('i',a.find('i') + 1))
print(a.rfind('i'))

8
8
too
too
1
if
5
5
5

In [122]:
# print(a.index('k')) # 없는 문지를 찾을 때 오류
print(a.find('k'))

-1

In [127]:
a = "Life is too short"
# 모두 소문자로 가져오기
print(a.lower())
print(a)
result = a.lower()
print(result)
# 모두 대문자로 가져오기
result = a.upper()
print(result)

life is too short
Life is too short
life is too short
LIFE IS TOO SHORT

In [135]:
c = ' abcd '
print(c)
print(c.strip())
d = " 이 숭무 "
print(d)
print(d.strip())
print(d.rstrip())
print(d.lstrip())
e = "abzbvabczjab"
print(e.strip('ab'))

 abcd
abcd
 이 숭무
이 숭무
 이 숭무
이 숭무
zbvabczj

In [138]:
# 문자열 대체
b = "Life is too short"
# "Life"를 "Your leg"로 변경
print(b.replace('Life','Your leg'))
print(b)
result = b.replace('Life','Your leg')
print(result)

Your leg is too short
Life is too short
Your leg is too short

In [140]:
# 쪼개기
b = "Life is too short"
result = b.split() # 리스트
print(result)
b = "Life:is:too:short"
result = b.split(':') # 리스트
print(result)

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']