In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\HKEDU\AppData\Local\Temp\ipykernel_6184\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [14]:
print(1 + 5)

6

In [16]:
print(2 * 6); print(3 + 5)

12
8

In [17]:
print(5 + 4);

9

In [18]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [29]:
# 자료형 : 리터널 : 자연어 (정수, 실수, 문자열)
#              정수 리터널 : 1, 12
#              실수 리터널 : 1.5, 4.5
#              문자열 리터널
print(10) # 숫자를 표현할 때는 아무런 표시를 하지 않는다.
print(10.4) 

#변수 = 리터널
a = 10 # 정수형 변수
print(a) 
a = 10.5
print(a)
a ="이숭무"
print(a)
a = "010-7146-1970"
print(a)
a = "highland0@nate.com"
print(a)

10
10.4
10
10.5
이숭무
010-7146-1970
highland0@nate.com

In [33]:
# 숫자 연산자 : +, - , *, /
a = 30
b = 10
print(a - b)
# 나머지 연산자 : %
print( 10 % 3)
# 몫 연산자 
print(10 // 3 )
# 제곱승 
print(10 ** 3)
## + , - , * , / , % , // , **

20
1
3
1000

In [42]:
# 문자열 리터널 : 영어, 한국어, 중국어, ...
#                "a",'a' , a:변수
이숭무 = "곽여송" # 문자열 리터널
print(이숭무)
이숭무 = '한경닷컴'
print(이숭무)
이숭무 = 'a'
print(이숭무)
이숭무 = "a"
print(이숭무)
이숭무 = "10"
print(10 + 10)
# print(10 + "10")
print("10" + "10")

곽여송
한경닷컴
a
a
20
1010

In [14]:
print(10) # 정수
print(10.54) # 실수
print("10") # 문자열
print("10.4") # 문자열
# print(10 + "10") # TypeError: unsupported operand type(s) for +: 'int' and 'str'
print("10" + "10")
print("python" + "is" + "fun")
print("python"+ " " + "is"+ " " + "fun")
print('python '+ 'is'+ ' fun')
# 문자열에서는 +연산자는 붙이기 연산자이다.
print('python \n' + 'is'+ ' fun')

10
10.54
10
10.4
1010
pythonisfun
python is fun
python is fun
python
is fun

In [21]:
# "" , '', """""", ''''''
a = '''python 
is 
fun'''
print(a)
a = """python
is
fun"""
print(a)
print("Life is too short, You need python")
print("""Life is too short, 
You need python""")
print('''Life is too short, 
You need python''') # 행바꿈을 할 때 주로 사용

python
is
fun
python
is
fun
Life is too short, You need python
Life is too short,
You need python
Life is too short,
You need python

In [30]:
print("Life's too short, You need python")
print('Life is too short, "You need python"')
print("Life is too short, \"You need python\"")
print('Life\'s too short, You need python')
print('\tLife\'s too short, You need python')

Life's too short, You need python
Life is too short, "You need python"
Life is too short, "You need python"
Life's too short, You need python
	Life's too short, You need python

In [32]:
print('\tLife\'s too short\n, You need python')

	Life's too short
, You need python

In [40]:
head = "Python"
tail = "is fun"
print(head + tail)
print(head+" " + tail)
print("==" * 30) # *연산자 : 문자열 반복
print("제목")
print("==" * 30)
print(head * 30)

Pythonis fun
Python is fun
============================================================
제목
============================================================
PythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [48]:
print(str(10) + "20")
str = "이숭무"
# print(str(10) + "20")
# 같은 이름의 함수와 변수를 둘 수 없다. str(), str
del str
print(str(10) + "20")
a = 10

1020
1020

In [53]:
# indexing : index를 이용해서 원하는 문자를 가지고 오는 것
# index는 문자열에서 문자가 가지고 있는 고유의 번호
str1 = "Life is too short"
#       01234567890123456
#                 1
print(str1)
print(len(str1))
print(str1[0])
print(str1[5])
print(str1[16])
print(str1[len(str1) - 1])

Life is too short
17
L
i
t
t

In [58]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#       76543210987654321 -
#              1
print(str1[0])
print(str1[-17])
print(str1[-len(str1)])
print("==" * 30)
print(str1[16])
print(str1[-1])
print(str1[len(str1) -1 ])
print("==" *30)
print(str1[15]); print(str1[-2])
# Life
print(str1[0]+str1[1]+str1[2]+str1[3])

L
L
L
============================================================
t
t
t
============================================================
r
r
Life

In [61]:
# slicing : 문자열 자르기
print(str1[0:4])
print(str1[0:0+4])
# too
print(str1[8 : 8 + 3])
print(str1[-9: -6])
print(str1[-9: -9 + 3])
print(str1[8 : -6])

Life
Life
too
too
too
too

In [65]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#       76543210987654321 -
#              1
# Life
print(str1[0:4])
print(str1[:4])
print(str1[:-13])
#short
print(str1[12:17])
print(str1[12:len(str1)])
print(str1[12:])

Life
Life
Life
short
short
short

In [69]:
# 날짜와 이름을 분리하여 출력
a = "20010331Rainy"
print(a[:8])
print(a[8:])
a = "pithon"
print(a[1])
#a[1] = "y" : 문자열은 index를 이용해서 값을 변경할 수 없다.

20010331
Rainy
i

In [70]:
# "",'',"""""",''''''
# +, *
# indexing, slicing 
# 문자열 포매팅
print("현재 온도는 30도입니다.")
print("현재 온도는 40도입니다.")

현재 온도는 30도입니다.
현재 온도는 40도입니다.

In [81]:
account = '1111'
name = '이숭무'
money = 100
### 이숭무의 계좌번호는 1111번이고 잔액은 100원입니다.
print(name+"의 계좌번호는 "+ account +"번이고 잔액은 "+str(money)+"원입니다.")
print("%s의 계좌번호는 %s번이고 잔액은 %d원입니다." % (name,account,money))
# %s:문자열, %d:숫자, %f : 실수, %c : 문자 =>
print("%s의 계좌번호는 %s번이고 잔액은 %d원입니다." % (name,account,1000))
print("==" * 30)
"이숭무의 나이는 25살이고 키는 175.3입니다"
age =  25
height = 175.3
a  = "%s의 나이는 %d살이고 키는 %f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %d살이고 키는 %5.1f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %d살이고 키는 %3.1f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %d살이고 키는 %.2f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %s살이고 키는 %s입니다" % (name, age, height)
print(a)

이숭무의 계좌번호는 1111번이고 잔액은 100원입니다.
이숭무의 계좌번호는 1111번이고 잔액은 100원입니다.
이숭무의 계좌번호는 1111번이고 잔액은 1000원입니다.
============================================================
이숭무의 나이는 25살이고 키는 175.300000입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.30입니다
이숭무의 나이는 25살이고 키는 175.3입니다

In [84]:
#-는 왼쪽정렬, +는 오른쪽 정렬
a  = "%s의 나이는 %d살이고 키는 %.2f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %10d살이고 키는 %10.2f입니다" % (name, age, height)
print(a)
a  = "%s의 나이는 %-10d살이고 키는 %-10.2f입니다" % (name, age, height)
print(a)

이숭무의 나이는 25살이고 키는 175.30입니다
이숭무의 나이는         25살이고 키는     175.30입니다
이숭무의 나이는 25        살이고 키는 175.30    입니다

In [90]:
# format 함수를 사용한 포매팅
# 문자열 : "abc",'abc'
# 변수 : abc
# 함수 : abc(), ### print() , str(), int(), format()
a  = "{0}의 나이는 {1}살이고 키는 {2}입니다".format(name, age, height)
#                                                 0     1     2
print(a)
a  = "{1}의 나이는 {0}살이고 키는 {2}입니다"\
                    .format(age, name, height)
print(a)
# 이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다
a  = "{0}님의 나이는 {1}살이고요 {0}의 키는 {2}입니다"\
                    .format(name,age,height)
print(a)

이숭무의 나이는 25살이고 키는 175.3입니다
이숭무의 나이는 25살이고 키는 175.3입니다
이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다

In [95]:
a  = "{0}님의 나이는 {1}살이고요 {0}의 키는 {bbb}입니다"\
                    .format(name,age,bbb=height)
print(a)
a  = "{0}님의 나이는 {1}살이고요 {0}의 키는 {bbb}입니다"\
                    .format(name,age,bbb=130)
print(a)
'''
a  = "{0}님의 나이는 {1}살이고요 {0}의 키는 {2}입니다"\
                    .format(name,age,bbb=130)
print(a)
a  = "{0}님의 나이는 {2}살이고요 {0}의 키는 {bbb}입니다"\
                    .format(name,bbb=130,age)
print(a)
'''
# 이름을 사용하는 경우에는 이름을 맨뒤 부터 붙여주면 된다.
a  = "{0}님의 나이는 {age}살이고요 {0}의 키는 {bbb}입니다"\
                    .format(name,bbb=130,age=25)
print(a)

이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다
이숭무님의 나이는 25살이고요 이숭무의 키는 130입니다
이숭무님의 나이는 25살이고요 이숭무의 키는 130입니다

In [97]:
### f 문자열 포매팅
name = '이숭무'
age = 25
height = 175.3
"이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다"
print(f"{name}님의 나이는 {age}살이고요 {name}의 키는 {height}입니다")

이숭무님의 나이는 25살이고요 이숭무의 키는 175.3입니다

In [ ]:
# 포매팅
# 1. 포맷문자를 이용한 포맷팅
# 2. format함수를 이용한 포맷팅
# 3. f문자를 이용한 포맷팅

# indexing, slicing (자바:substring)
# 문자열 연산자 : +, *

In [100]:
### 문자열 가공하기 :  문자열 함수
a = "hobby"
#    01234
# 문자열의 크기
print(len(a))
print(len("hobby"))
# 문자의 갯수
print(a.count('b'))
print("hobby".count('b'))
print(a[1:1+3])

5
5
2
2
obb

In [112]:
a = "Life is too short"
#    012345678
print(a.index("too"))
print(a[a.index("too"):a.index("too") + 3])
print(a.index('i'))
print(a[a.index('i') : a.index('i') + 2])
print(a.rindex('i'))
print(a[a.rindex('i') : a.rindex('i') + 2])
print(a.index('i',2))
print(a.index('i', a.index('i') + 1))
i = a.index('i', a.index('i') + 1)
print(a[i : i + 2 ])

8
too
1
if
5
is
5
5
is

In [120]:
a = "Life is too short"
#    012345678
print(a.index("too"))
print(a.find("too"))
print(a[a.find("too"):a.find("too") + 3])
print(a[a.find("t"):a.find("t") + 3])
print(a.find('i'))
print(a[a.find('i') : a.find('i') + 2])
print(a.find('i',2))
print(a.find('i',a.find('i') + 1))
print(a.rfind('i'))

8
8
too
too
1
if
5
5
5

In [122]:
# print(a.index('k')) # 없는 문지를 찾을 때 오류
print(a.find('k'))

-1

In [127]:
a = "Life is too short"
# 모두 소문자로 가져오기
print(a.lower())
print(a)
result = a.lower()
print(result)
# 모두 대문자로 가져오기
result = a.upper()
print(result)

life is too short
Life is too short
life is too short
LIFE IS TOO SHORT

In [135]:
c = ' abcd '
print(c)
print(c.strip())
d = " 이 숭무 "
print(d)
print(d.strip())
print(d.rstrip())
print(d.lstrip())
e = "abzbvabczjab"
print(e.strip('ab'))

 abcd
abcd
 이 숭무
이 숭무
 이 숭무
이 숭무
zbvabczj

In [138]:
# 문자열 대체
b = "Life is too short"
# "Life"를 "Your leg"로 변경
print(b.replace('Life','Your leg'))
print(b)
result = b.replace('Life','Your leg')
print(result)

Your leg is too short
Life is too short
Your leg is too short

In [140]:
# 쪼개기
b = "Life is too short"
result = b.split() # 리스트
print(result)
b = "Life:is:too:short"
result = b.split(':') # 리스트
print(result)

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [ ]:
# 문자열 함수
'''
split()
replace()
strip()
rstrip()
lstrip()
upper()
lower()
index()
find()
rindex()
rfind()
len()
count()
'''

In [12]:
### 리터널 자료형 :자연수 : 
##                  정수: 10 ,    "10"(x)
##                  실수 : 10.5    "10.5"(x)
###          자연어 : 한국어, 일본, 영어,...
###                  문자열 : "a" , 'a' , "1" ,"10.5" ,"""a""",'''a'''
###                           a, 이숭무 : 변수
### 리스트 : [] : 크기가 정해져 있지 않다. 유형이 정해져 있지 않다.
### 자바에서의 배열 : [] : 크기가 정해져 있다 , 유형정해져 있다.
### [1] : 정수형 리스트 , ['a'] :문자열 리스트, [1 , 'a'] : 혼합형리스트
print(1)
print('1')
print([1]) # [1]:리스트
print('python ' + 'is fun')
print([1, 2] + [1, 'a'] )
print([[1,2],[3,4]]) # 리스트를 포함한 리스트

l = [] #  빈리스트
print(l)
l.append(1)
print(l)
l1 = []
# l1[0] = 1 # index out of range
a = "Life:is:too:short"
l2 = a.split(':') # 리스트, 자바에서는 배열
print(l2) # ['Life', 'is', 'too', 'short']

1
1
[1]
python is fun
[1, 2, 1, 'a']
[[1, 2], [3, 4]]
[]
[1]
['Life', 'is', 'too', 'short']

In [22]:
a = "Life is too short"
#    01234567890123456
#              1
print(a[5])  # indexing
print(a[8:8+3]) # slicing
print(a[1]) # 'i'
print(a[13]) # 'h'
print(a[1] + a[13]) # ih

l = [1,2,3,4,5]
#    0 1 2 3 4
print(l[1]) # 2
print(l[4]) # 5
print(l[1] + l[4]) # 7 # 요소가 정수 일때 indexing을하면 정수를 가져온다.
l1 = ['Life', 'is', 'too', 'short']
#        0     1       2      3
print(l1[0]) # 'Life'
print(l1[2]) #  'too'
print(l1[0] + l1[2]) #'Lifetoo'

i
too
i
h
ih
2
5
7
Life
too
Lifetoo

In [29]:
a = [1,2,3,['a','b','c']]
#    0 1 2       3
#            0   1   2
#    4 3 2       1   -
#            3   2   1 -
print(a[3]) # ['a','b','c']
#               0   1   2
print(a[3][1])
print(['a','b','c'])
print(['a','b','c'][1])

print(a[-1])
print(a[-1][-2])
print(a[3][-2])
a = "Life is too short"
#    01234567890123456
#              1
#    76543210987654321 -
#           1
print(a[3])
print(a[-14])
print(a[5:7])
print(a[-12:-10])

['a', 'b', 'c']
b
['a', 'b', 'c']
b
['a', 'b', 'c']
b
e
e
is
is

In [30]:
a = [1,2,3,['a','b',['life','is']]]
#    0 1 2          3
#            0   1         2
#                       0     1
# is를 출력
print(a[3][2][1]) # is
# 's'를 출력
print(a[3][2][1][1])

is
s

In [38]:
a ='Life is too short'
#   01234567890123456
#             1
print(a[8: 8 + 3]) # slicing
l = [1,2,3,4,5]
#    0 1 2 3 4
print(l[1: 1 + 3])
print(l[0]) # 1 # indexing
print(l[2]) # 3
print(l[0] + l[2])
print(l[0:0+1]) # [1]
print(l[2:2+1]) # [3]
print(l[0:0+1] + l[2:2+1]) # 리스크 붙이기

too
[2, 3, 4]
1
3
4
[1]
[3]
[1, 3]

In [41]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
#    0  1  2         3         4  5
#               0    1    2
# [b, c]를 출력
print(a[3])
print(a[3][1:1+2])
a[2] = 10 # 리스트는 index를 이용해서 요소의 값을 변경할 수 있다.
print(a)

['a', 'b', 'c']
['b', 'c']
[1, 2, 10, ['a', 'b', 'c'], 4, 5]

In [57]:
# 리스트 연산자
a = [1,2,3]
b = [4,5,6]
print(a + b) # 연결 연산자
print(a * 3) # 반복 연산자

# 리스트 함수
str1 = 'Life is too short'
print(len(str1))
l = ['Life', 'is', 'too', 'short']
print(len(l)) #요소의 갯수 , 리스트의 크기

# 리스트에 요소 추가
# append : 마지막 요소 뒤에 추가
l = []
l.append('Life') 
print(l)
l.append('short')
print(l)  # ['Life', 'short']
#              0       1   
# 원하는 위치에 요소 삽입하기
l.insert(1, 'is')
print(l)  # ['Life', 'is', 'short']
#              0       1       2
l.insert(2, 'too')
print(l)  # ['Life', 'is', 'too', 'short']
l1 = ['You', 'need', 'python']
print( l + l1)
print(l)
# 리스트 요소 확장
l.extend(l1)
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
17
4
['Life']
['Life', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 'You', 'need', 'python']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 'You', 'need', 'python']

In [76]:
# 요소 삭제
l = ['Life', 'is', 'too', 'short', 'You', 'need', 'python']
print(l)
del l[4] # index를 이용해서 삭제
print(l)
del l[4: 4+ 2] # slicing을 이용해서 삭제
print(l)
del l[1:]
print(l)
l = ['Life', 'is', 'too', 'short',1,2,[1],4,'1']
# 요소의 값을 이용해서 요소 삭제
l.remove(1) # 정수
print(l)
l.remove('1')
print(l)
l.remove([1])
print(l)
l.remove('is')
print(l)
# pop함수를 이용해서 삭제
l.pop()
print(l)
l.pop()
print(l)
result = l.pop() # 요소를 추출해 올고 싶을 때
print(result) # 비복원 추출
print(l)
l = ['Life', 'is', 'too', 'short',1,2,[1],4,'1']
#      0       1      2      3    4 5  6  7  8
result = l.pop() # index를 사용하지 않으면 마지막 값을 추출
print(result)
result = l.pop(3) # index를 사용해서 index에 해당하는 요소 추출
print(result)
print(l)
result = l.pop(0)
print(result)
print(l)

['Life', 'is', 'too', 'short', 'You', 'need', 'python']
['Life', 'is', 'too', 'short', 'need', 'python']
['Life', 'is', 'too', 'short']
['Life']
['Life', 'is', 'too', 'short', 2, [1], 4, '1']
['Life', 'is', 'too', 'short', 2, [1], 4]
['Life', 'is', 'too', 'short', 2, 4]
['Life', 'too', 'short', 2, 4]
['Life', 'too', 'short', 2]
['Life', 'too', 'short']
short
['Life', 'too']
1
short
['Life', 'is', 'too', 1, 2, [1], 4]

In [81]:
# 정렬
a = [4, 2, 6, 1, 9]
print(a)
# 오름차순
a.sort()
print(a)
a = [4, 2, 6, 1, 9]
# 내림차순
a.sort(reverse=True)
print(a)
# 뒤에서부터 출력
a = [4, 2, 6, 1, 9]
a.reverse()
print(a)

[4, 2, 6, 1, 9]
[1, 2, 4, 6, 9]
[9, 6, 4, 2, 1]
[9, 1, 6, 2, 4]

In [91]:
str3= "hobby"
print(str3.count('b'))
l = ['h','o','b','b','y']
print(l.count('b'))
result = str3.index('b')
print(result)
result = l.index('b')
print(result)
result = str3.index('b',3)
print(result)
result = l.index('b',3)
print(result)
result = str3.find('b')
print(result)
# result = l.find('b') # 리스트에는 find함수는 없다.

2
2
2
2
3
3
2

In [96]:
# 자료형
# 정수 자료형: 10
# 실수 자료형: 10.5
# 문자열 자료형: "10"
# 리스트 자료형: [10]
# 튜플 자료형: (), (1,), (1,2)
print(1)
print('1')
print([1])
print((1 + 3))
print((1 + 3,))
print((1,2))
l = [] # 빈리스트
t = () # 빈 튜플
l = [1]
t = (1,)
l = ['abv']
t = ('abc', )
l = [1,2,3,'a'] 
t = (1,2,3,'a') 
l = [1,2,3,[4,5,6],'abc',(1,2,3)]
t = (1,2,3,[4,5,6],'abc',(1,2,3))

1
1
[1]
4
(4,)
(1, 2)

In [104]:
t2 = (1,2,3)
#     0 1 2
# indexing, slicing을 할 수 있다.
print(t2[2])
print(t2[1:3])
print(t2.index(2))

# 리스트와 튜플의 차이점
l = [1,2,3]
del l[2]
print(l)
t = (1,2,3) # 튜플은 수정할 수 없다.  상수처럼 사용할 때 
# del t[2]
l[1] = 10
print(l)
# t[1] = 10

3
(2, 3)
1
[1, 2]
[1, 10]

In [113]:
t7 = (1, 2, 3, "a", "b", [1,2,3], (1,2,3))
#     0  1  2   3    4      5        6
#                         0 1 2    0 1 2 
print(t7[5])
# 리스트안에 있는 2
print(t7[5][1]) # 정수 2
print(t7[6]) # 튜플
# 튜플안에 있는 2
print(t7[6][1]) # 정수 2

print(t7[5][1] + t7[6][1])

# "a", "b", [1,2,3]
print(t7[3: 3+ 3])
print(t7[5])
print(t7[5][:])


t8 = 1, 2, 3, "a", "b", [1,2,3], (1,2,3), 3
print(t8)
print(t8.index(3))
print(t8.count(3))

[1, 2, 3]
2
(1, 2, 3)
2
4
('a', 'b', [1, 2, 3])
[1, 2, 3]
[1, 2, 3]
(1, 2, 3, 'a', 'b', [1, 2, 3], (1, 2, 3), 3)
2
2

In [126]:
# 자료형 : 정수, 실수, 문자열, 
# 리스트 = [], 
# 튜플 = ()
# 딕셔너리(사전) 자료형 : {},  자바의 map, 자바스크립트 json
#          d = {키:값,...}
#                        중복키를 허용하지 않는다.
l = [] # 빈 리스트
t = () # 빈 튜플
d = {} # 빈 딕셔너리
# dic = {key1:value1, key2:value3, ... , ket_n:value_n}
dic = {'name': 'pey', 'phone':'0107141970','birth':'1118'}
print(dic)
l =[1,2,3]
#   0 1 2
print(l)
print("your need python".split())
print(l[0]) # index
print(dic['name']) # key를 이용해서 
print(dic['phone'])
print(dic['birth'])
d2 = { 2 : '이숭무', 0 : '이상범' , 1 : '이장범'}
#         0              1            2
print(d2[0]) # index와 key가 혼용될 수 있어서 key를 사용하게 되었다.
print(l[1])
l[1] = 10
print(l)
d2[2] = '김찬중'
print(d2)
# l[3] = 3 # list assignment index out of range
d2[3] ='이숭무' # 키가 있으면 요소값이 수정이 되고 (중복키를 허용하지 않는다.)
print(d2)       # 키가 없으면 추가가 된다. 
d3 = {1:'a', 1: 'b'}
print(d3)# 중복키를 허용하지 않으므로 마지막 값을 가지게 된다.
d3[3] = [1,2,3]
print(d3)

{'name': 'pey', 'phone': '0107141970', 'birth': '1118'}
[1, 2, 3]
['your', 'need', 'python']
1
pey
0107141970
1118
이상범
2
[1, 10, 3]
{2: '김찬중', 0: '이상범', 1: '이장범'}
{2: '김찬중', 0: '이상범', 1: '이장범', 3: '이숭무'}
{1: 'b'}
{1: 'b', 3: [1, 2, 3]}

In [130]:
dic = {'name': 'pey', 'phone':'0107141970','birth':'1118'}
# 요소삭제
del dic['name']
print(dic)
dic[3] = '이숭무'
print(dic)
del dic[3]
print(dic)

{'phone': '0107141970', 'birth': '1118'}
{'phone': '0107141970', 'birth': '1118', 3: '이숭무'}
{'phone': '0107141970', 'birth': '1118'}

In [135]:
dic = {'name': 'pey', 'phone':'0107141970','birth':'19991118'}
print(dic)
print(dic['birth']) # 19991118
#                     01234567
#                    -87654321
# 1. 년, 월 , 일을 따로 출력하세요
print(dic['birth'][:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:])
# 2. 월일만 같이 출력
print(dic['birth'][4:])
print(dic['birth'][-4:])

{'name': 'pey', 'phone': '0107141970', 'birth': '19991118'}
19991118
1999
11
18
1118
1118

In [142]:
#### 딕셔너리 관련 함수
dic = {'name': 'pey', 'phone':'0107141970','birth':'19991118'}
### 딕셔너리에 있는 값만 가져오기
print(dic.values())
### 딕셔너리에 있는 키만 가져오기
print(dic.keys())
### 키와 값을 쌍으로 묶어서 가져오기
print(dic.items())
### 딕셔너리 지우기
dic.clear()
print(dic)
l = [1,2,3,4]
print(l)
l.clear()
print(l)

dict_values(['pey', '0107141970', '19991118'])
dict_keys(['name', 'phone', 'birth'])
dict_items([('name', 'pey'), ('phone', '0107141970'), ('birth', '19991118')])
{}
[1, 2, 3, 4]
[]

In [154]:
dic = {'name': 'pey', 'phone':'0107141970','birth':'19991118'}
print(dic['name'])
print(dic.get('name'))
#print(dic['money'])
print(dic.get('money'))
print(dic.get('money',0))

dic1 = {'classic': 500 , "pop" : 600}
dic2 = {'classic': 500 , "pop" : 600 ,"roc":700}
print(dic1['classic'])
print(dic2['classic'])
print(dic1['classic'] + dic2['classic'])
print(dic1['pop'] + dic2['pop'])
# print(dic1['roc'] + dic2['roc'])
print(dic1.get('roc', 0) + dic2.get('roc', 0))

pey
pey
None
0
500
500
1000
1200
700

In [165]:
# 정수, 실수, 문자열, 리스트, 튜플, 딕셔너리
# 집합 : 교집합, 합집합, 차집합
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1)
print(s2)
s1 = set([1,2,3,4,5])
print(s1)
s1 = set((1,2,3,4,5))
print(s1)
s1 = set("hello") # 중복 데이터를 허용하지 않는다.
print(s1)

l = list("hello")
print(l)
t = tuple("hello")
print(t)
l1 = list(s1)
print(l1)
t1 = tuple(s1)
print(t1)
### str(), int()
print(l1[0])
print(t1[0])
# print(s1[0]) # 집합자료형은 index를 사용할 수 없다.

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{'h', 'e', 'l', 'o'}
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'o']
('h', 'e', 'l', 'o')
h
h

In [174]:
#### 교집합, 합집합, 차집합
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1)
print(s2)
## 교집합
print(s1 & s2)
print(s1.intersection(s2))
## 합집합
print(s1 | s2)
print(s1.union(s2))
## 차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}

In [188]:
s1 = {1,2,3,4,5,6,7}
print(s1)
s1.add(7) # 중복데이터는 허용하지 않는다.
print(s1)
s1.add(8)
print(s1)

# 8,9,10을 추가
#s1.add(8,9,10)
s1.add((8,9,10))
print(s1)
s1 = {1,2,3,4,5,6,7}
s1.update((8,9,10))
print(s1)
s1 = {1,2,3,4,5,6,7}
s1.update([8,9,10])
print(s1)

#### 요소 삭제
s1.remove(10)
print(s1)
# s1.remove((3,5,7)) ### 한번에 하나씩만 가능
# print(s1)
s1 = {1, 2, 3, 4, 5, 6, 7, 8, (8, 9, 10)}
s1.remove((8, 9, 10))
print(s1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, (8, 9, 10)}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8}

In [202]:
# 정수:1, 실수:1.2, 문자열:"a",리스트:[], 튜플:(), 닥셔너리:{}, 집합:{1,2,3}
# 부울:True/False
a = 1
print(a)
a = True
print(a)
# a = true # 부울타입이 아니다.
a = False
print(a)
#a = false # 부울타입이 아니다.
print(1 + 1)
print("ancb"[0])
print(True and True) # 논리연산:부울타입과 부울타입의 연산이고 결과는 부울

# 연산 결과가 부울 타입인 연산은 관계(비교)연산
x  =  10; y = 20; z = 30
print(x > y) # 부울타입
print(x < y)
print(x >= y)
print(x <= y)
print(x == y)
print(x != y)
print( x > y and x < y)

### 논리연산은 관계(비교 연산자를 같이 사용하게 된다.)
## and
print(True and True)
print(True and False)
print(False and True)
print(False and False)
### or 
print(True or True)
print(True or False)
print(False or True)
print(False or False)

1
True
False
2
a
True
False
True
False
True
False
True
False

In [206]:
### 2200년은 윤년일까요(True)? 평년일까요(False)? 
### 4년마다 윤년이지만 100년마다는 윤년이 아니다 그렇지만 400년마다는 윤년이다.
year = 2200
result = year % 4 == 0 and year % 100 != 0 or year % 400 == 0
print(result)
# year % 4 == 0 : 4년마다
# year % 100 == 0 : 100년마다
# year % 400 == 0 : 400년마다.
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("윤년")
else:
    print("평년")

False
평년

In [217]:
# 자료형에 따른 부울타입
print(bool('이숭무'))
print(bool('')) #False
print(bool([1,2,3,4]))
print(bool([])) #False
print(bool((1,2,3,4)))
print(bool(())) #False
print(bool({})) # False
print(bool(-1)) 
print(bool(1))
print(bool(0)) # False

a = 'ㅗ포ㅗ'
if a:
    print('참입니다.')

True
False
True
False
True
False
False
True
True
False
참입니다.

In [225]:
### 파이썬 변수 선언법
a = 'python'
b = 'life'
a = b = c = 0
print(a,b,c)
a , b = 'python', 'life'
print(a,b)
a , b = ('python', 'life')
print(a, b)
(a , b) = 'python', 'life'
print(a,b)
(a , b) = ('python', 'life')
print(a,b)
[a , b] = ('python', 'life')
print(a,b)
[a , b] = ['python', 'life']
print(a,b)
a , b, c = 'python', 'life', [1,2,3]
print(a,b,c)

0 0 0
python life
python life
python life
python life
python life
python life
python life [1, 2, 3]

In [227]:
# 변수에 있는 값을 서로 교환하기
a = 10
b = 20

temp = 0
print("==" * 30)
temp = a
a = b
b = temp
print(a, b)

print("==" * 30)
a , b = b , a
print(a, b)

============================================================
20 10
============================================================
10 20

In [230]:
### 형식(문법)

'''
if 조건식:
    명령문1
    명령문2
    ...
    명령문n
    
명령문11
'''
# 들여쓰기 : 공백문자 , tab키를 이용가능 , 하지만 혼용해서 사용할 수 없다
'''
if 조건식:
    명령문1
    ...
    명령문n
esle:
    명령문11
    ...
    명령문1n
'''
x = 10 ; y = 20
if x > y:
    print("x가 y보다 크다")
else:
    print("x가 y보다 작다")
print("if문 끝")

x가 y보다 작다
if문 끝

In [238]:
# IN연산자 사용하기
l = [1,2,3,4,5]
print(4 in l)
if 4 in l:
    print("4가 있다")
else:
    print("4가 없다")

if 4 in [1,2,3,4,5]:
    print("4가 있다")
else:
    print("4가 없다")

dic = {"name":'이숭무', 'phone':'01071461970'}
print( 'name' in dic)
if 'name' in dic:
    print('name 키가 있습니다.')
else:
    print('키가 없습니다.')

print("j" in "python")
print("j" not in "python")
print( 7 in {1,2,3,4,5,6})
print( 7 not in {1,2,3,4,5,6})

True
4가 있다
4가 있다
True
name 키가 있습니다.
False
True
False
True

In [239]:
pocket = ['paper', 'cellphone', 'money']
print('money' in pocket)
if 'money' in pocket:
    print("차를 차고 가시오")
else:
    print("걸어가시오")

True

In [240]:
'''
if 조건식:
    명령문
elif 조건식:
    명령문
elif 조건식:
    명령문
else:
    명령문

'''
# score가 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 
# 그렇지 않으면 F
score = 76
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

C

In [242]:
'''
score가 60이상이면 message 변수에 success를 아니면 message 에 failure를 저장한 후 출력
'''
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)

message = "success" if score >= 60 else "failure"
print(message)

success
success

In [243]:
a = 10; b = 20; opt='add'
if opt=="add":
    result = a + b
elif opt == "sub":
    result = a - b
elif opt == "mul":
    result = a * b
else:
    result = a / b
print(result)

30

In [245]:
if opt=="add":
    result = a + b
else:
    if opt == "sub":
        result = a - b
    else:
        if opt == "mul":
            result = a * b
        else:
            result = a / b
print(result)

30

In [246]:
result = a + b if opt == "add" else (
         a - b if opt == "sub" else(
         a * b if opt == "mul" else a / b
         )
)
print(result)

30

In [252]:
a = 10
print(type(a))
a = 10.4
print(type(a))
a = "이숭무"
print(type(a))
print(type([1,2,3]))
print(type((1,2,3)))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>