In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\HKEDU\AppData\Local\Temp\ipykernel_19976\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [ ]:
# 자료형 / 조건식(if) / 반복문

In [3]:
print("나무를 1번 찍었습니다.")
print("나무를 2번 찍었습니다.")
print("나무를 3번 찍었습니다.")
print("나무를 4번 찍었습니다.")
print("나무를 5번 찍었습니다.")
print("나무를 6번 찍었습니다.")
print("나무를 7번 찍었습니다.")
print("나무를 8번 찍었습니다.")
print("나무를 9번 찍었습니다.")
print("나무를 10번 찍었습니다.")
print("나무가 쓰러집니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 쓰러집니다.

In [6]:
i = 1
while i <= 10:
    #print("나무를 %d번 찍었습니다." % i)
    #print("나무를 {0}번 찍었습니다.".format(i))
    print(f"나무를 {i}번 찍었습니다.")
    i+=1
print("나무가 넘어가유~~~")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어가유~~~

In [9]:
'''
8단 출력
8  * 1 = 8 * 1
8  * 2 = 8 * 2
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72
'''
i = 1
while i <= 9:
    print(f"8 * {i} =  {8 * i}")
    i += 1

8 * 1 =  8
8 * 2 =  16
8 * 3 =  24
8 * 4 =  32
8 * 5 =  40
8 * 6 =  48
8 * 7 =  56
8 * 8 =  64
8 * 9 =  72

In [16]:
dan = int(input("원하는 단을 입력해주세요."))
i = 1
while i <= 9:
    #print(f"{dan} * {i} =  {dan * i}")
    #print("%d * %d =  %d" % (dan , i, dan*i))
    print("{0} * {1} =  {2}".format(dan, i , dan*i))
    i += 1

원하는 단을 입력해주세요.6
6 * 1 =  6
6 * 2 =  12
6 * 3 =  18
6 * 4 =  24
6 * 5 =  30
6 * 6 =  36
6 * 7 =  42
6 * 8 =  48
6 * 9 =  54

In [22]:
# 8단
dan = int(input("단을 입력해주세요. : "))
start = int(input("시작 곱을 입력해주세요. : "))
end = int(input("끝 곱을 입력해주세요. : "))
i = start
while i <= end:
    print(f"{dan} * {i} = {dan * i}")
    i += 1

단을 입력해주세요. : 5
시작 곱을 입력해주세요. : 3
끝 곱을 입력해주세요. : 6
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

In [ ]:
# 3단
i = 1
while i <= 9 :
    print(f"3 * {i} = {3 * i}")
    i+=1
# 4단
i = 1
while i <= 9 :
    print(f"4 * {i} = {4 * i}")
    i+=1
# 5단
i = 1
while i <= 9 :
    print(f"5 * {i} = {5 * i}")
    i+=1
# 6단
i = 1
while i <= 9 :
    print(f"6 * {i} = {6 * i}")
    i+=1

In [24]:
dan = 3
while dan <= 6:
    i = 1
    while i <= 9 :
        print(f"{dan} * {i} = {dan * i}")
        i+=1
    dan += 1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

In [27]:
startDan = int(input("시작단을 입력해주세요. : "))
endDan = int(input("마지막 단을 입력해주세요. : "))
startGop = int(input("시작곱을 입력해주세요. : "))
endGop = int(input(" 마지막곱을 입력해주세요. : "))
dan = startDan
while dan <= endDan:
    i = startGop
    while i <= endGop :
        print(f"{dan} * {i} = {dan * i}")
        i+=1
    dan += 1

시작단을 입력해주세요. : 2
마지막 단을 입력해주세요. : 4
시작곱을 입력해주세요. : 4
 마지막곱을 입력해주세요. : 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24

In [40]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i += 1
#print(lotto)
#print(lotto.pop(4)) # 0 ~ 44
#print(lotto.pop(4)) # 0 ~ 43
lottosize = len(lotto) # 45
cnt = 1
while cnt <= 6:
    lottosize -= 1
    idx = random.randint(0, lottosize)
    lottonum = lotto.pop(idx)
    print(lottonum , end=", ")
    cnt += 1

27, 5, 37, 43, 10, 12,

In [63]:
import random
lotto = []
qty = int(input("로또 갯수를 입력해주세요.: "))
lottoCnt  = 1
while lottoCnt <= qty:
    i = 1
    while i <= 45:
        lotto.append(i)
        i += 1
    lottosize = len(lotto) # 45
    cnt = 1
    while cnt <= 6:
        lottosize -= 1 
        idx = random.randint(0, lottosize) # 0 ~ 43 [1,2,...45]
                                           #         0 1 2 3 4 
        lottonum = lotto.pop(idx)
        print(lottonum , end=", ")
        cnt += 1
    print()
    lotto.clear()
    lottoCnt += 1

로또 갯수를 입력해주세요.: 10
9, 38, 12, 39, 13, 25,
22, 39, 8, 7, 16, 20,
23, 11, 6, 35, 12, 10,
20, 19, 26, 36, 44, 1,
9, 10, 36, 2, 7, 23,
6, 29, 14, 3, 7, 17,
6, 21, 18, 43, 7, 39,
32, 14, 30, 7, 24, 25,
23, 21, 9, 20, 11, 1,
23, 22, 6, 43, 7, 18,

In [64]:
# 1 ~ 100까지의 합을 구하시오
i = 1
sum = 0
while i <= 100:
    sum += i
    i += 1
print(sum)

5050

In [66]:
i = 1
sum = 0
while True:
    if i == 101:
        break
    sum += i
    i += 1
print(sum)

5050

In [71]:
# 1 ~ 100중에 짝수의 합을 구하시오
i = 0
sum = 0
while i <= 100:
    i += 1
    if i % 2 != 0:
        continue
    sum += i
print(sum)

2550

In [72]:
# 1 ~ 100까지의 수중 홀수만 합을 구하시오.
i = 0
sum = 0
while i <= 100:
    i += 1
    if i % 2 == 0:
        continue
    sum += i 
print(sum)

2601

In [75]:
# 1 ~ 100까지의 수중 짝수만 합을 구하시오.
i = 0
sum = 0
while True:
    i += 1
    if i > 100:
        break
    if i % 2 != 0:
        continue
    sum += i
print(sum)


i = 0
sum = 0
while True:
    i += 1
    if i > 100:
        break
    if i % 2 == 0:
        sum += i
print(sum)

2550

In [81]:
l = [1,2,3,4,5]
sum = 0
sum = sum + l[0]
sum = sum + l[1]
sum = sum + l[2]
sum = sum + l[3]
sum = sum + l[4]

i = 0
sum = 0
while i <= 4:
    num = l[i]
    sum = sum + num
    i+=1
print(sum)

sum = 0
for num in l:
    sum = sum + num
print(sum)

sum = 0
for num in [1,2,3,4,5]:
    sum = sum + num
print(sum)

sum = 0
for num in (1,2,3,4,5):
    sum = sum + num
print(sum)

15
15
15
15

In [83]:
# 리스트의 평균값을 출력하세요.
l = [87,55,67,83,44,56,76,98,100,67]
#     0  1  2  3  4  5  6  7   8  9  : index : idx
# while
idx = 0
sum = 0
while idx <= len(l)-1:
    sum += l[idx]
    idx += 1
print(sum / len(l))

# for : 리스트나 튜플과 같은 자료형인 경우에는 for가 유리
sum = 0
for num in l:
    sum += num
print(sum / len(l))

73.3
73.3

In [87]:
l1 = [(1,2),(3,4),(5,6)]
for t in l1:
    print(t)
    print(t[0] + t[1])
    
a, b = (1, 2)
print(a, b)

for a, b in l1:
    print(a, b)
    print(a + b)

(1, 2)
(3, 4)
(5, 6)
1 2
1 2
3
3 4
7
5 6
11

In [89]:
l2 = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in l2:
    print(a + b + c)

for num in l2:
    print(num[0] + num[1] + num[2])

6
15
24
6
15
24

In [90]:
l3 = [(1,2,3),(4,5),(6,7,8)]
for a,b,c in l3:
    print(a,b,c)

1 2 3

ValueError: not enough values to unpack (expected 3, got 2)

In [94]:
# 1 ~ 100까지의 합을 구하시오
i = 1
sum = 0
while i <= 100:
    sum += i
    i += 1
print(sum)

print(type(range(1, 1 + 100)))

sum = 0
for num in range(1, 1 + 100): # 1 ~ 100
    sum += num
print(sum)

5050
<class 'range'>
5050

In [ ]:
# 1 ~ 100까지의 수 중 짝수만 합을 구히시오.
i = 0
sum = 0
while i <= 100:
    i += 1
    if i % 2 == 0:
        sum += i
print(sum)

print("==" * 30)
sum = 0
for num in range(1 , 1 + 100):
    if num % 2 == 0:
        sum += num
print(sum)

In [96]:
# 3단
gop = 1
while gop <= 9:
    print(f" 8 * {gop} = {8 * gop}")
    gop += 1

print("==" * 30)
for gop in range(1 , 1 + 9):
    print(f" 8 * {gop} = {8 * gop}")

 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
============================================================
 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72

In [ ]:
# for 문
# 3단
for gop in range(1, 10):
    print(f" 3 * {gop} = {3 * gop}")
# 4단
for gop in range(1, 10):
    print(f" 4 * {gop} = {4 * gop}")
# 5단
for gop in range(1, 10):
    print(f" 5 * {gop} = {5 * gop}")

print("==" * 30)
for dan in range(3, 3+ 3):
    for gop in range(1, 10):
        print(f" {dan} * {gop} = {dan * gop}")

In [100]:
startDan = int(input("시작단을 입력해주세요. : "))
endDan = int(input("마지막단을 입력해주세요. : "))
startGop = int(input("시작곱을 입력해주세요. : "))
endGop = int(input("마지막곱을 입력해주세요. : "))
for dan in range(startDan, endDan + 1):
    for gop in range(startGop, endGop + 1):
        print(f" {dan} * {gop} = {dan * gop}")

시작단을 입력해주세요. : 3
마지막단을 입력해주세요. : 5
시작곱을 입력해주세요. : 2
마지막곱을 입력해주세요. : 6
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30

In [102]:
# a퓨플에 있는 값에 3을 곱한 값을 빈 리스트에 저장하시오.
a = (1,2,3,4)
result = []
for num in a:
    result.append(3 * num)
print(result)

result = [3 * num for num in a]
print(result)

[3, 6, 9, 12]
[3, 6, 9, 12]

In [104]:
# a퓨플에 있는 값중 짝수만 3을 곱한 값을 빈 리스트에 저장하시오.
a = (1,2,3,4)
result = []
for num in a:
    if num % 2 == 0:
        result.append(3 * num)
print(result)

result = [3 * num for num in a if num % 2 == 0]
print(result)

[6, 12]
[6, 12]

In [107]:
result = []
for dan in range(2, 10):
    for gop in range(1, 10):
         result.append(dan * gop)
print(result)

print("==" * 30)

result = [dan * gop for dan in range(2, 10) 
                    for gop in range(1, 10) ]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]
============================================================
[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [114]:
marks = [90, 25, 67, 45, 80]
###       0   1  2    3  4
for num in marks:
    print(num)

print("#####index를 이용######")
print("marks[0] : %d" % marks[0])

for idx in range(0, len(marks)):
    print(marks[idx])
    
print("==" * 30)
for idx in range(len(marks)):
    print(marks[idx])

90
25
67
45
80
#####index를 이용######
marks[0] : 90
90
25
67
45
80
============================================================
90
25
67
45
80

In [118]:
# 함수
# f(x , y) = 3x + 4y이라고 할 때
# z = f(3, 5)입니다. 이때 z은?
# z : 29
def f(x , y):   #### 피호출함수 , f:함수명 , x, y:매개변수 , parameter
    return 3*x + 4*y

z = f(3, 5)   ### 호출함수 :: 3, 5 : 인자 , argument 
print(z)

'''
def 함수명(parameter_1, parameter_2,...,parameter_n):
    명령어1
    명령어2
    ...
    명령어n
    return 결과값

변수 = 함수명(arg_1,arg_2,...,arg_n)

주의점 : parameter의 갯수와 argument의 갯수는 같아야 한다.
반복적사용하거나 복잡한 명령문이 있는 경우 정의해 놓고 사용하기 위해서 
'''

29

In [119]:
# 함수의 정의는 위와 같을 때 
# z = f(5, 3)이라면 z값은?
z = f(5, 3)
print(z)

27

In [121]:
# 구구단 함수
#8단을 가진 함수
def gugu_8():
    for gop in range(1, 10):
        print(f"8 * {gop} = {8 * gop}")

In [ ]:
gugu_8()
gugu_8()
gugu_8()

In [124]:
def gugu(dan): # 피호출함수 , dan:매개변수, parameter
    # 명령어
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")

In [126]:
gugu(8)   #  호출함수 , 8 : 인자, 인수,  argument
gugu(11)  #            11 : argument : argument는 parameter에게 값을 주는 역할을 한다.

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99

In [127]:
def gugu(dan, start, end): # 피호출함수 , dan:매개변수, parameter
    # 명령어
    for gop in range(start, end+1):
        print(f"{dan} * {gop} = {dan * gop}")

In [132]:
gugu(5, 2, 6)

5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

In [134]:
### 함수를 만드는 4가지 형식
# 1. 일반적인 형식 : 입력값(paramenter)과 결과값(return)이 있는 경우
def f(x): # 입력값
    return 3 + x * 5 # 결과값 , return뒤에 있는 값은 호출함수에 전달된다.

In [135]:
result = f(3) # argument
print(result)

18

In [137]:
def add(num1, num2):
    return num1 + num2

In [139]:
result = add(10, 20)
print(result)

30

In [141]:
# 2. 입력값이 없고 결과값만 있는 경우
def add():
    num1 = int(input("숫자를 입력해주세요 : "))
    num2 = int(input("숫자를 입력해주세요 : "))
    return num1 + num2

In [143]:
result = add()
print(result)

숫자를 입력해주세요 : 10
숫자를 입력해주세요 : 29
39

In [144]:
# 3. 입력값이 있고 결과값이 없는 경우
def add(num1 , num2):
    print(num1 + num2)

In [145]:
add(3, 5)

8

In [146]:
# 4. 입력값이 없고 결과값이 없는 경우 
def add():
    num1 = int(input("숫자를 입력해주세요. : "))
    num2 = int(input("숫자를 입력해주세요. : "))
    print(num1 + num2)

In [147]:
add()

숫자를 입력해주세요. : 10
숫자를 입력해주세요. : 20
30

In [154]:
import random
lotto = [num for num in range(1, 46)]
print(lotto)
lottoSize = len(lotto) 
j = 1
while j <= 6:
    lottoSize -= 1
    idx = random.randint(0, lottoSize)
    num = lotto.pop(idx)
    print(num , end=", ")
    j += 1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
24, 30, 17, 18, 20, 9,

In [166]:
def lottoFnc(): # 재사용
    lotto = [num for num in range(1, 46)]
    lottoSize = len(lotto) 
    j = 1
    while j <= 6:
        lottoSize -= 1
        idx = random.randint(0, lottoSize)
        num = lotto.pop(idx)
        print(num , end=", ")
        j += 1

In [167]:
lottoFnc()

2, 15, 32, 4, 8, 29,

In [171]:
lottoFnc()
lottoFnc()

26, 6, 43, 5, 40, 31, 40, 25, 15, 7, 12, 16,

In [176]:
def lottoCnt(num):
    for i in range(num):
        lottoFnc()
        print()

In [178]:
lottoCnt(10)

15, 31, 42, 12, 25, 27,
37, 44, 36, 7, 30, 8,
24, 25, 38, 1, 4, 16,
15, 22, 33, 6, 18, 24,
32, 36, 15, 3, 20, 42,
42, 33, 7, 2, 10, 18,
3, 27, 11, 13, 34, 45,
23, 29, 4, 14, 38, 5,
23, 8, 43, 36, 10, 24,
16, 18, 45, 32, 26, 30,

In [ ]:
# 1~100, 1~1000, 600 ~ 10000
sum = 0
for i in range(1, 101):
    sum += i
print(sum)

In [179]:
def add(start, end):
    sum = 0
    for i in range(start, end + 1):
        sum += i
    print(sum)

In [182]:
add(1, 100)
add(1, 1000)
add(600, 10000)

5050
500500
49825300

In [184]:
def add(start, end):
    sum = 0
    for i in range(start, end + 1):
        sum += i
    return sum

In [188]:
result = add(1, 100)
print(result)
result =add( end=1000, start=1 )
print(result)
result =add( start=600, end=10000 ) # parameter를 지정해서 값을 주는 경우 순서와 무관
print(result)

5050
500500
49825300

In [189]:
def sum11( *para):
    print("para : " , para)
    sum = 0
    for i in para:
        sum += i
    print(sum)

In [190]:
sum11(1,2)
sum11(1,2,3,4)
sum11(1,2,3,5,4,6,7,8)
sum11(3,4,5,6,7,8)

para :  (1, 2)
3
para :  (1, 2, 3, 4)
10
para :  (1, 2, 3, 5, 4, 6, 7, 8)
36
para :  (3, 4, 5, 6, 7, 8)
33

In [192]:
def sum12(opt,*para):
    result = 1
    if opt == "add":
        for num in para:
            result += num
    elif opt == "mul":
        for num in para:
            result *= num
    print(result)

In [193]:
sum12("add",1,2,3,4,5,6)
sum12("mul",3,45,6)

22
810

In [202]:
def sum13(opt, *para):
    result = (1,2,3)
    if opt == "add":
        result += para
    elif opt == "mul":
        result *= para[1]
    print(result)

In [203]:
sum13("add",3,4,5)
sum13("mul",2,3,4)

(1, 2, 3, 3, 4, 5)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [204]:
a, b = (10, 20)
print(a, b)

10 20

In [205]:
def add_mul(x, y):
    i = x  + y
    j = x * y
    return i, j

In [208]:
result = add_mul(3, 5)
print(result)
print(result[0], result[1])
a , f = add_mul(3, 20)
print(a, b)

(8, 15)
8 15
23 60

In [209]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다. " % name)
    print("나의 나이는 %d살입니다. " % old)
    if man:
        print("나는 남자입니다. ")
    else:
        print("나는 여자입니다.")

In [211]:
say_myself("이숭무", 25)
say_myself("박준현", 23, False)

나의 이름은 이숭무입니다.
나의 나이는 25살입니다.
나는 남자입니다.
나의 이름은 박준현입니다.
나의 나이는 23살입니다.
나는 여자입니다.

In [214]:
def say_myself(name, old=24, man):
    print("나의 이름은 %s입니다. " % name)
    print("나의 나이는 %d살입니다. " % old)
    if man:
        print("나는 남자입니다. ")
    else:
        print("나는 여자입니다.")

SyntaxError: non-default argument follows default argument (326053689.py, line 1)

In [216]:
### lambda함수
def add(a, b):
    return a +b
result = add(3, 5)
print(result)

8

In [217]:
add = lambda a, b : a + b
result = add(3, 5)
print(result)

8

In [220]:
def add(a , b=4):
    return a + b
result = add(3)
print(result)
result = add(4, 6)
print(result)

7
10

In [221]:
add = lambda a , b=4 :  a + b
result = add(3)
print(result)
result = add(4, 6)
print(result)

7
10

In [223]:
def add_sub(opt, a, b):
    if opt == "add":
        return a + b
    else:
        return a - b
result = add_sub("add",20,21)
print(result)

41

In [224]:
add_sub = lambda opt, a, b : a + b if opt == "add" else a - b
result = add_sub("sub" , 20 , 10)
print(result)

10

In [226]:
def calu(opt , a, b):
    if opt == "add":
        return a + b
    else:
        if opt == "sub":
            return a - b
        else:
            if opt == "mul":
                return a * b
            else:
                return a / b
result = calu("sub", 20, 10)
print(result)

10

In [227]:
calu = lambda opt , a, b : a + b if opt == "add" else (
                           a - b if opt == "sub" else (
                           a * b if opt == "mul" else a / b
                           )
)
result = calu("sub", 20, 10)
print(result)

10